<nav class="navbar navbar-light bg-dark row">
    <a class="navbar-brand col-1" href="/">
        <img src="/static/assets/deedle_trans.png" width="30" height="30" class="d-inline-block align-top" alt="Deedl">
    </a>
    <div class="col"><a href="{{ url_for('index') }}">Home</a></div>
    <div class="col"><a href="/">About</a></div>
    <div class="col"><a href="/">Company</a></div>
    <div class="col-1">
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>

</nav>
<header id="navbar">
    <div class="logo">
        <a class="navbar-brand col-1" href="/">
            <img src="/static/assets/deedle_trans.png" width="70" height="70" class="d-inline-block align-top"
                alt="Deedl" style="
                border: 1px solid black;
                border-radius: 50%;
                background-color: white;
            ">
        </a>
    </div>
    <form action="/about">
        <button class="navbar__btn">About</button>
    </form>
    <form action="/group">
        <button class="navbar__btn">Group</button>
    </form>
    <form action="/group">
        {% if current_user.is_anonymous %}
        <button class="navbar__btn">
            <a href="{{ url_for('login') }}">Login</a>
        </button>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </form>

    <button class="navbar__btn">
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    </button>

</header>