<aside id="sidebar">
  <ul id="sidebar__list">
    <a class="sidebar__link" href="/">Home</a>
    <a class="sidebar__link" href="/about">About</a>
    <a class="sidebar__link" href="{{ url_for('company')}}">Company</a>
    <a class="sidebar__link" href="{{ url_for('user', username=current_user.username) }}"
      >Profile</a
    >
    {% if current_user.is_anonymous %}
    <a class="sidebar__link" href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a class="sidebar__link" href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </ul>
</aside>
