* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg-color: #00687b;
  --sidebar-bg-color: #156e7e;
  --report-bg-color: #0390a9;
  --report-label-bg-color: #45b4c7;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#navbar {
  width: 100%;
  height: 15%;
  border: 4px solid #505050;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  color: #505050;
  font-size: 60px;
}

.navbar__btn {
  width: 15rem;
  height: 56px;
  border: 4px solid #505050;
  border-radius: 20px;
  font-size: 40px;
  color: #505050;
}

.navbar__btn:hover {
  opacity: 75%;
  cursor: pointer;
}

#sidebar {
  width: 25%;
  height: 85%;
  border: 4px solid white;
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 15%;
  left: 0;
}

.sidebar__btn {
  width: 90%;
  height: 67px;
  border-radius: 20px;
  border: 4px solid white;
  background-color: transparent;
  margin-top: 30px;
}

#container {
  width: 75%;
  height: 85%;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 25%;
}

@media only screen and (max-width: 768px) {
  #container {
    width: 100%;
    left: 0;
  }

  #sidebar {
    width: 100%;
    height: 15%;
    top: 15%;
  }

  .logo {
    display: none;
  }
}
