{% extends 'base.html' %} {% block content %}
<div id="about__wrapper-title">
  <div id="about__title">About</div>
</div>
<div id="about__wrapper-info">
  <div id="about__info">
    People need to build community. This forum for bringing groups closer together and helping the needy is a way of doing just that.

    Join a team or create a new one. Search for good deeds to complete for people in need. Coordinate with available memebers of your group. Complete the task, get kudos for your entire group.
  </div>
</div>
{% endblock %}
