<!DOCTYPE html>
<html>
  <head>
    <title>Deedl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
  </head>

  <body>
    <div id="nav_container">
      {% include 'partials/navbar.html' %} {% include 'partials/sidebar.html' %}
    </div>

    <div id="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
