{% extends 'base.html' %} {% block content %}
<div id="group-container">
  <div id="group-sidebar">
    <div id="group__wrapper-title">
      <div id="group__title">Company</div>
    </div>
    <div id="group__wrapper-info">
      <div id="group__info">
        <!-- TODO: Fix the issue where this breaks the page if the text is removed -->
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
        mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
        suscipit, posuere a, pede.
      </div>
    </div>
    </div>
    <div id="group-report-list__wrapper">
      <div id="group-report-list">
        {% for deed in deeds %} {% if deed.author.group == current_user.group %} {% include
        'partials/deed.html' %} {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
