<!DOCTYPE html>
<html>

<head>
  <title>Deedl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}" />
</head>

<body>
  <div id="login-container">
    <div id="logo">
      <img src="static/assets/deedle_trans.png" width="400" height="400" alt="Deedl" style="
      border: 1px solid black;
      border-radius: 50%;
      background-color: white;
  ">
    </div>
    <form action="" method="post" novalidate>
      {{ form.csrf_token }}
      <p>
        {{ form.username.label }}<br />
        {{ form.username(size=32) }}<br />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br />
        {{ form.password(size=32) }}<br />
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit() }}</p>
    </form>
    <p class="button"><a href="{{ url_for('register') }}">Register</a></p>
  </div>


</body>

</html>