<!DOCTYPE html>
<html>

<head>
  <title>Deedl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}" />
</head>

<body>
  <div id="login-container">
    <div id="logo">
      <img src="static/assets/deedle_trans.png" width="400" height="400" alt="Deedl" style="
        border: 1px solid black;
        border-radius: 50%;
        background-color: white;
    ">
    </div>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br />
        {{ form.username(size=32) }}<br />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.email.label }}<br />
        {{ form.email(size=64) }}<br />
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br />
        {{ form.password(size=32) }}<br />
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password2.label }}<br />
        {{ form.password2(size=32) }}<br />
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.group.label }}<br />
        {{ form.group(size=1) }}<br />
        {% for error in form.group.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <!-- <form id="login-form" action="/home">
        <label id="login-form__lable">Username:</label>
        <input id="login-form__input" type="text" placeholder="username" />
        <label id="login-form__lable">Password:</label>
        <input id="login-form__input" type="password" placeholder="password" />
      </form> -->
  </div>
</body>

</html>